/*== Menus ==*/
.yprs{
  height:475px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.control-yprs{
  margin: 1em 0;
}





/*== routing-Machin ==*/
.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}
